{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json",
      "jsx": false
    },
    "rules": {
      "max-len": [
        "error",
        {
          "code": 130,
          "ignoreComments": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
        }
      ],
      "no-throw-literal": "off",
      "@typescript-eslint/no-object-literal-type-assertion": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-use-before-define": "off"
    },
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:sonarjs/recommended",
      "prettier"
    ]
  }